
#backgroundHome{

	
  
  background: url(/images/Home2.jpg) no-repeat;
  height: 85%;
  width:100%;  
  Overflow:hide;
  

	
	
	
}
#adminButton{

	background-color:white;
	position:absolute;
	top:20%;
	left:10%;
	width:100px;
	text-decoration:none;
	padding:5px 15px 5px 15px;
	
	
}

header#primary
{
	
	
	
    width: 100%;
    height:10%;	
    background:#FFFFFF;	
	overflow:hide;
    
	
	
	
}

#spacer{

height:0.5%;
background:#000000;
width:100%;



}

body header table {
	text-align:left;	
	color:black;
	
}   

.else{
	
		
}	

header a.logo:link{
    color:#00FFFF;
	font-size:16;	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
header a.logo:link{
    color:#00FFFF;
}


/* visited link */
 header a.logo:visited {
    color: #00FFFF ;
}

header a.else :visited {
    text-decoration: none;
	font : 13;
	Color: Black;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
}
header a {
    text-decoration: none;
	font : 13;
	Color: Black;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
}


/* mouse over link */
 header a:hover {
    /*color: #00FFFF;*/
}



/* selected link */
 header a:active {
    color: #00FFFF ;
}

#menu{	
	
	font-style:center;	
	width: auto;
    
	

}        




#sidebar
{	


	
    float: left;	
    width: 23%;
    background: #F8F8F8 ;		
    height: 94.5%;	
	font-size:12;
	font-style:left;
	padding-left:1%;
	padding-right:1%;

	
	
	
	
	
	
}

#sidebar2
{	
    float: right;	
    width: 23%;
    background: #F8F8F8 ;	
	
    height: 94.5%;	
	font-size:10;
	font-style:left;
	padding-left:1%;
	padding-right:1%;
	
	
	
	
	
}





/* unvisited link */

.homepage {
	color:#00BFFF;

}
.homepage:link{
    color:#00BFFF;
}


/* visited link */
 .homepage:visited {
    color: #00FFFF;
}

/* mouse over link */
 .homepage:hover {
    color: #FF8000;
}

/* selected link */
 .homepage:active {
    color: #00FFFF ;
}






#error{


font-size:11;

}
.error{

font-size:14;
color:red;
width:80%;
font-style:center;
border: ridge, 1px;
background-color:white;



}
.small{


font-size:11;

}


#credits{

	
	margin-left:15%;

}



.login{
	
	
	
	
	width:600px;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	
	
	text-align:center;
	font-size:13;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
	/*#Border*/
	
	
	padding: 20px;
	
	background-color: rgba(255,255,255,1);
	padding-bottom:50;

}
.loginError{
	
	
	
	
	width:600px;
	margin-right:auto;
	margin-left:auto;		
	font-size:13;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
	/*#Border*/	
	padding: 20px;	
	background-color: rgba(255,255,255,1);
}


.back{

	height:50%;
	position:0;
	
	

}






#key
{

	position:center;

}

#suggestion{

	border-style: ridge;
    border-width: 5px;
	
	

}

#programming{

	margin-left:35%;
	margin-right:35%;
	text-align:center;
	
	
	

}

#programming{

	
	text-align:left;
	
	
	

}


body div div.contact{	
	
	text-align:center;	
	
}


.center{
	
	text-align:center;		
	
	
	

}


.middle {


	position:relative;
	left:5%;
	 display: table;
	 width:90%;
	 text-align:left;
	
}

#center{


	width:50%;
	position:0;

}


#account{

	

	
	width:50%;
	margin-left:auto;
	margin-right:auto;
	
	padding:10px 10px 10px 10px;
	
	
	
	
	
	

}




#emailTable{
	
	
	color:white;
	font-size: 14px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
}



#back{
	position:inherit;

}

#section5 {
    margin: 0;	
    /*  background: blue;  */
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
	
	background-color:white;
	padding:10px 10px 10px 10px;
	
	
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	
	
	
}


#section{

	width:100%;
	height:20px;
    
	
	font: bold 14px sans-serif;	
	background: #fff;
	vertical-align:center;





}

.margin{

	margin : 20px , 20px , 20px , 20px;
}




body div table ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
body div table ul li {
  
  font: bold 12px/18px sans-serif;  
  display: inline-block;
  
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
body div table ul li:hover {
  background: #555;
  color: #fff;
}
body div table ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
body div table ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
body div table ul li ul li:hover { background: #666; }

body div table ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}




table.admin a:link {
    color: #FFFFFF
}

/* visited link */
table.admin a:visited {
    color: #FFFFFF
}

/* mouse over link */
table.admin a:hover {
    color: #F8F8F8
}

/* selected link */
table.admin a:active {
    color: #FFFFFF
}



/*

BORDER STYLES
*/
#account  input([type=text]) {
    
	padding: 5px , 15px , 5px ,15px ;
	border:2px solid #CCC; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}
input:not([type=submit],[type=select]) {
    
	padding: 5px , 15px , 5px ,15px ;
	border:2px solid #CCC; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}
/*
 #99CC00

*/
input[type=submit] {


	background-color:#85BF25;
	padding:10px 30px 10px 30px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color:white;
	font-size:15;


}
input[type=number]{

	padding:15px; 
	border:2px solid #CCC; 
	-webkit-border-radius: 5px;
	border-radius: 5px;

}





/*

##################************** ##################************** ##################************** 
##################**************  Main Content  ##################************** 
##################************** ##################************** ##################************** 


*/



#main{	

	position:relative;
	padding-top:1%;
	left:25%;	
	width : 50.2%;	
	height: auto;
	min-height:79%;
	margin-bottom:50px;

	
	
	
	
	
}
#calendar{

	
	width : 100%;	
	min-height: 90%;
	
	
	
}
	
#mySubmitButton{

	cursor:pointer;	
	position:relative;
	top:0%;
	right:0%;
	
	background-color: WHITE;
	height:100%;
	width:100%;
	
	/*
	box-shadow: 0px 0px 0px #888888;	
	
	
	
	
	*/
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:14px;	
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
    box-shadow: none;		
	border:none;

	
}
#closedsubmitbutton{

	
	position:relative;
	
	background-color:#C7C7C7;
	height:100%;
	width:100%;
	
	
	
	/*box-shadow: 0px 0px 0px #303030;*/
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:14px;	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: none;
    box-shadow: none;	
	margin:0;
	border:none;





}


#appointmentHeader{


	
	color: white;
	background-color:#00CCFF;		
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
}
	
	
#daysHeader{

	font-size: 13px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-color:white;
	height:20px;




}	
#monthHeader{

	font-size: 20px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

	background-color:white;
	height:20px;



}

#htmlBody{

	font-size: 20px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	margin:auto;



}





#appointmentLink{

	text-decoration:none;	
	color:blue;
	display:block;
	width:100%;
	
	
	

	
}

.round{

	-webkit-border-radius: 10px;
	border-radius: 10px;

}

#number {
	
	position:relative;
	width:150;
	border:solid 1px grey;
	text-align:center;
	padding-top:10px;	
	padding-bottom:11px;
	padding-left:10px;
	padding-right:10px;
	
	
	
}

#numberBedroom ,#numberBathroom{	
	
	
	width:20px;
	border:1px solid white;
	font-weight:bold;
	color:#484848 ;
	
	
	
	
	
}


.quoteRequest{

	padding-bottom:5px;

}

#up1 , #up2 ,  #down1 , #down2{

	
	width:30px;
	text-decoration:none;
	color:#484848 ;
	font-size:17;	
	font-weight: bold;
	
	
	
}	

 
#buttonLeft{
	
	
	
	position:relative;		
	left:8px;
	text-decoration: none;
	text-align:center;
	border:solid 1px #C0C0C0;
	padding-top:10px;	
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	
	border-top-left-radius :5px; 
	border-bottom-left-radius:5px;
	
	
	
	
}

#buttonRight{
	
	position:relative;	
	right:3px;
	text-decoration: none;
	text-align:center;
	border:solid 1px #C0C0C0;
	padding-top:10px;	
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	
	border-top-right-radius :5px; 
	border-bottom-right-radius:5px;
	
	
	
}
#number{
	
	
	margin-left:5px;
	border: #C0C0C0 1px solid; 
	color:#484848 ;
	
	
	

}


#incrementer {
	


}


#quoteSelect{


	height:40px;
	Width:200px;
	




}

#emailWrapper{


	position:relative; 
	float:left;
	top:8%;
	width : 100%;
	min-width:600px;
	background-color:#f1f1f1;
	height:auto;
	font-size: 14px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:100px;
	overflow:hide;
	
	

	
	
	border: solid 2px orange;
	
	
	
	


}

#emailStuff{
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:15;
	color:black;
	font-weight:bold;	
	border:solid 2px;
	
}

#loginWindow{
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:15;
	color:black;
	font-weight:bold;	
	
	
}


#calendarDay{

	
	position:relative;	
	top:4px;
	float:right;
	font-size: 14px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	text-align:center;
	
	
	width:auto;
	height:auto;
	
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#354343;
	color:white;
	padding:5px;
	
	
	

}


#daysRow{

	font-size: 12px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	width:7.14%;
	



}



#instruction{
	
	position:absolute;
	left:3%;
	top:20%;
	
	width : 12%;
	height: auto;
	
	background-color: #FFFF99;
	border:dotted 3px ;
	
	padding: 20px;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	
}

#checkoutContent{


	position:relative; 
	float:left;
	width : 65%;
	min-width:600px;
	background-color:white;
	height:auto;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:100px;
}

#calendarContent{


position:relative; 
float:left;
width : 100%;
height:auto;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	


}

#checkout{
	
	float:left;
	position:relative; 	
	left:25%;
	
	clear:both;
	
	
	width : 100%;
	height:auto;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
	
	width:300px;
	background-color: white;
	font-size: 14px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color:#484848;
	margin-bottom:20px;
		
	margin-left: auto;
	margin-right: auto;





	
}
#checkoutConflict{
	
	
	position:relative;		
	width : 100%;
	height:auto;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
	background-color: white;
	font-size: 14px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color:#484848;
	margin-bottom:20px;
		
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;




}
#checkoutSidebar{

	position:fixed; 
	left:62%;
	top:120PX;
	width:300px;
	background-color:white;
	height:auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:20px;

}
#checkoutExtras{
	
	
	

}
#bookings{
position:relative; 
float:left;
width : 100%;
height:auto;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
background-color:white;
padding:10px;

}

.cleanButton{

	position:relative;
	left:8%;
	outline:0;	
	background-image: none;
	-webkit-box-shadow: none;
    box-shadow: none;	
	margin:0;
	border:none;
	background-color:white;


}

.selectButton, .selectButton:focus , .selectButton:active  {
	
	position:relative;
	float:left;
	left:5px;
	margin-left:5px;
	
	width:100px;
	
	
	
	background-color:white;
	border:solid 2px;
	border-color: #66A3FF;
	cursor: pointer;
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color:#66A3FF;
	font-weight:bold;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

.selectButton:onclick{

	border-color: white;
	color:#66A3FF
}

.width50{
	width:50px;
	text-decoration:none;
	
	
}

footer a{
	
	width:50px;
	background-color:white;
	padding: 5px  5px  5px  5px ;
	color: #191950;


}
footer a:Visited{
	
	font-weight:bold;
	color: #191950;


}


#buttonMonthPlus{

	Position:absolute;
	top:45%;
	left:77%;
	width:auto;
	height: auto;
	border: solid 2px orange;
	background-color:#191950;
	text-decoration:none;
	font-weight:bold;
	color:white;
	font-size:20px;
	
	padding : 10px 15px 10px 15px;

}

#buttonMonthMinus{

	Position:absolute;
	top:45%;
	left:19.5%;
	width:auto;
	height: auto;
	
	
	border: solid 2px orange;
	background-color:#191950;
	
	text-decoration:none;
	font-weight:bold;
	color:white;
	
	font-size:20px;
	padding : 10px 15px 10px 15px;
	

}
#buttonMonthPlus:hover, #buttonMonthMinus:hover{
	
	
	background-color:#00CCFF;		
	
	
	
	
	
}


/*

###########################################################################################################################################################################################################################################################################################################################

 					CLASS : MULTI-PURPOUSE

##############################################################################################################################################################################################################################################################################					



*/



 .whitePadding{
 
	background-color:white;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	width:auto;
 
 }
 
.text {
	
	margin-left:20px;
	margin-right:20px;
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
}
.tab {
	
	position:relative;
	left:40px;
	margin-right:-40px;
	
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
	
}

.removeTextDecoration{

	text-decoration:none;
	color:white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


#listToolsUL{

  background: #555; 
  display: block; 
  
  text-shadow: 0 -1px 0 #000;  
   
  color: white;
  border:solid 2px white;
  padding: 10px 15px;
  text-decoration:none;





}

#resetCalendar{
	
	
	
	width:200px;
	font-size:25;

	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

	padding: 10px 0px 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:none;	
	cursor:pointer;
	
}


#sub{

	appearance:normal;
	width:250px;
	font-size:25;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	padding: 10px 0px 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:none;
	cursor:pointer;	
	background-color:#85BF25;
	color:white;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
	
	

}
#sub:active{
	
	text-align:center;
	
	content:'<img src="/images/27.gif">';
	
	
	
}
#submitLogin{

	position:relative;
	left:25%;
	

	width:55%;
	font-size:25;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	padding: 10px 0px 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:none;
	cursor:pointer;	
	background-color:#85BF25;
	
	
	
	
}

#jobQuoteColor{

	color:#66A3FF;
	font-size:30px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight:bold;

}


.inputPadding{



	padding: 7px 7px 7px 7px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	

	text-shadow:none !important;

	border:solid 1px grey;

	box-shadow:none !important;
	


}
textarea:focus {
    outline: none;
}


/*

############################################################################################################################################################################################################################################################
############################################################################################################################################################################################################################################################

	THIS BUILDS FANCY RADIO BUTTONS aligned to the right when fieldgroup class is given
	
############################################################################################################################################################################################################################################################
############################################################################################################################################################################################################################################################
*/


.fieldgroup {
    float: left;
    width: auto;
    margin-left: 2em;
	
	
}


/* HTML5 Boilerplate accessible hidden styles */
input[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 1.5;
  font-size: 14;
}

input[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
input[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;  
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
input[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}



fieldset {
 border:0;
}

legend {
  color: #fff;
  background: #000;
  padding: 0.25em 1em;
  border-radius: 1em;
}

.p {
  text-align: center;
  font-size: 14px;
  padding-top: 120px;
}



.whiteBackgroundCircle{


	position:relative;
	top:10%;
	left:15%;
	
	
	
	
	height:80px;
	width:80px;
	text-align:center;
	
	
	background-color:white;
	-webkit-border-radius: 50px;
	border-radius: 50px;	
	font-size:12;
	padding: 0 10px 0 10px 0;
	font-weight:bold;



}
#cabinet, #fridge , #oven , #laundry, #interiorWindows{


	-webkit-border-radius:5px;
	border-radius: 5px;	
}

.remove{

display:none;



}


/*
################################################################################################################
################################################################################################################	This code builds the footer as it is supposed to be.
####################################################################################

*****************************************
 IMPORTANT!
*****************************************
 Normalize or reset your CSS first!
 If you are getting weird or awkward 
 spaces it could be because you forgot
 to define the margin or padding on an 
 element and the browser is using its
 default margin & padding settings. Try
 unchecking Normalized CSS under Fiddle
 Options and RUN fiddle again to see
 what I'm talking about. I intentionally
 didn't reset the margin on the h1 and p
 elements for this very reason.

 Also, in order for this to work correctly
 you need to stick to this code. Don't
 change anything unless it is noted that
 you may do so. You may change the div ids
 but remember to change them both in the
 HTML & CSS. If you do change the div ids 
 I would recommend using HTML 5 tags
 wherever possible. For example, use
 <footer> instead of <div id="footer">. 
 I chose not to do that in the fiddle to
 avoid confusion and keep it consistent.
****************************************/
body {
 	margin: 0;
 	padding: 0;
 	height: 100%;
	background-color: #66A3FF;
	
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {

    min-height: 100%;
    
	
	
}
#content {

	height:100%;
	margin-bottom:-50px;
	
    
	
	
}

#footer {

    position:relative;		
    width: 100%;
	clear: both;
    /* ATTENTION! The following elements below 
    can be set to whatever your heart desires */
    height: 50px; /* REMEMBER height = padding-bottom */
    background:#000000;	
	margin:0;
	padding:0;
	color:white;
	text-align:center;
	
}

#makeAppointment{

background-color:red;
width:100%;

}


#serviceContent{


position:relative; 
float:left;
width : 100%;
background-color:white;
height:auto;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
font-size:17;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-bottom:50px;




}


.checkoutInput{
	
	
	padding: 5px 10px 5px 10px;
	
	width:250;
	font-size:17;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	
	-webkit-appearance: field;
	-moz-appearance: field;
	-o-appearance: field;
	appearance: field;
	border: solid 1px #C0C0C0;
	color:#484848  ;

	
}
.hugBelowLine{
	
	line-height:1.5;
	
	
	
}



#scheduleAppt:hover{
	position:relative;	
	padding:10px;	
	text-align:center;
	bottom:10px;
	
	
	
}

#viewServices:hover{
	position:relative;
	padding:10px;		
	text-align:center;
	bottom:10px;
	
	
	
}

.borderTop{
	
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	
}
.borderBottom{
	
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	
}

.buttonSaveDayTime{
	
	cursor:pointer;	
	position:relative;	
	background-color: white;
	height:100%;
	width:100%;
	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:14px;		
	-webkit-box-shadow: none;
    box-shadow: none;		
	border:none;		
	font-size:15;
	font-weight:bold;
	text-align:center;
	color:green;
	
	padding: 0;
	border: none;
	background: none;
	outline: none;
	margin:0;
	
}
.buttonSaveDayTime:hover{
	
	background-color:green;
	color:white;	
	
}
#availableAppt{
	margin:0;
	
	
}
#availableAppt:hover{
	
	background-color:green;
	color:white;
	
}
#fixedTable td{
 
  width:5%; 

	

}
#page404{

	position:relative;
	top:100px;	
	padding:20px;
	height:auto;
	width:auto;
	background-color:#d7d7d7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:5px solid purple;
}
